<h1>Ng-Typing Demo</h1>
<main>

  <div class="text" [hidden]="!displayed">
    <span>Default (normal speed, less typo): </span><br/>
    <div class="typo">
      <typing #typ [message]=""></typing>
    </div>
    <div class="code">
      &lt;typing [message]="..."&gt;&lt;/typing&gt;
    </div>
  </div>

  <div class="text" [hidden]="!displayed">
    <span>Quick with typo: </span><br/>
    <div class="typo">
      <typing #typ [message]="" [referenceSpeed]="50" [typo]="true" [typoProbability]="20"></typing>
    </div>
    <div class="code">
      &lt;typing [message]="..." [referenceSpeed]="50" [typo]="true" [typoProbability]="20"&gt;&lt;/typing&gt;
    </div>
  </div>

  <div class="text" [hidden]="!displayed">
    <span>Slow without typo: </span><br/>
    <div class="typo">
      <typing #typ [message]="" [referenceSpeed]="200" [typo]="false"></typing>
    </div>
    <div class="code">
      &lt;typing [message]="..." [referenceSpeed]="200" [typo]="false"&gt;&lt;/typing&gt;
    </div>
  </div>

  <div class="text" [hidden]="!displayed">
    <span>Quick with too many typing errors: </span><br/>
    <div class="typo">
      <typing #typ [message]="" [referenceSpeed]="15" [typo]="true" [typoProbability]="70"></typing>
    </div>
    <div class="code">
      &lt;typing [message]="..." [referenceSpeed]="15" [typo]="true" [typoProbability]="70"&gt;&lt;/typing&gt;
    </div>
  </div>
  
  <div class="form">
    <input type="text" placeholder="Types message here..." value="Hello World!" #message_input/>
    <button (click)="showMessage(message_input.value)">Show</button>
  </div> 

</main>