$main_color2: #59a6c5;

h1 {
  font-size: 18px;
  color: $main_color2;
}

main {
  width: 800px;

  .text {
    background: radial-gradient(#dcdcdc, #d4d4d4);

    font-size: 14px;
    letter-spacing: 0.5px;
  
    color: rgba(#000000, .8);
    text-shadow: 2px 2px 2px rgba(#000000, .1);
  
    padding: 15px;
    margin: 2px 0;
    line-height: 20px;
  
    border-radius: 4px;
    border: 1px solid transparent;

    .typo {
      height: 40px;
      overflow: hidden;
    }
    span {
      font-weight: bold;
      font-size: 12px;
      color: white;
    }
    .code {
      font-family: 'Courier New', Courier, monospace;
      font-style: normal;
      font-size: 12px;
      padding: 6px 10px;
      color: #757575;
      text-shadow: none;
      background: rgba(255, 255, 255, 0.4);
      border: 2px solid #d6d6d6;
      border-radius: 5px;
    }
  }
  
  .form {
    display: flex;
    input {
      flex-grow: 1;
      padding: 5px 10px;
      border: 1px solid #ccc;
      color: #777777;
      &::placeholder {
        font-style: italic;
        color: #aaa;
      }
    }
    button {
      width: 50px;
      border: 1px solid #ccc;
      background: $main_color2;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(#000000, .6);
      cursor: pointer;
      &:hover {
        color: #000000;
      }
    }
  }
}